*{
    margin: 0%;
    padding: 0%;
}
html{
    scroll-behavior: smooth;
  }
body{
    background-color: darkslategray;
}
@font-face {
    font-family: 'pop';
    src: url('fonts/Poppins-Thin.ttf');
    font-style: normal;
    font-weight: 99;
}
@font-face {
    font-family: 'pop';
    src: url('fonts/Poppins-Light.ttf') format('truetype');
    font-style: normal;
    font-weight: 100;
}
@font-face {
    font-family: 'pop';
    src: url('fonts/Poppins-ExtraBold.ttf');
    font-style: normal;
    font-weight: 200;
}
@font-face {
    font-family: 'pop';
    src: url(fonts/Poppins-Regular.ttf);
    font-weight: 105;
}
.boxOfmenu{
    margin: 0;
    padding: 0;
    top: 0;
    overflow: hidden;
    position: top;
    width: 100%;
    height: 80px;
    opacity: 0.6;
    z-index: 2;
}
.container{
    position: fixed;
    width: 100%;
    z-index: 2;
}
.container:hover .overlay{
    bottom: 0;
    height: 100%;
}
.overlay{
    position: absolute;
    bottom: 100%;
    left: 0;
    right: 0;
    background-color: #000000;
    overflow: hidden;
    width: 100%;
    height:0;
    transition: .5s ease;
    opacity: 1;
    z-index: 2;  
}
nav{
    padding: 0px 40px;
}
nav ul{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
nav ul li{
    padding: 8px 0;
    cursor: pointer;
    
}
nav li a{
    display: inline-block;
    padding: 0px 20px;
}
a{
    transition: all 0.3s ease 0s;
}
a:hover{
    color: rgb(75, 152, 253);
}
nav ul li a{
    font-family: 'pop';
    font-weight: 99;
    color: rgb(255, 255, 255);
    font-size: 25px;
    text-decoration: none;
    transition: .4s;
}
nav ul li.logo{
    font-family: 'pop';
    font-weight: 200;
    flex: 1;
    color: rgb(75, 152, 253);
    font-size: 40px;
    font-weight: 600px;
    cursor: default;
    user-select: none;
    z-index: 2;
}
.bg{
    background-image: url('Drill.JPG');
    height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 1;

}
.logoDec{
    position: absolute;
    display: flex;
    font-family: 'pop';
    font-weight: 99;
    font-size: 50px;
    top: 52;
    left: 155;
    color: rgb(75, 152, 253,0.4);
}
.content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    height: 80%;
    background-color: rgba(0,0,0,.5);
    border-radius: 25px;   
}
.content p{
    position: absolute;
    display: flex;
    right: 140;
    top: 110;
    text-align:center;
    font-family: 'pop';
    font-weight: 105;
    font-size: 16px;
    letter-spacing: 2px;
    line-height: 1.8;
    width: 300px;
    color: rgb(193, 193, 243);
}
#testp{
    position: absolute;
    color: blue;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
}
.content2{
    position: absolute;
    top: 150%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    height: 80%;
    background-color: rgba(0,0,0,.5);
    border-radius: 25px;
    z-index: 1;
}
.content2 h1{ 
    position: fixed;
    color: #fed128;
    font-family: 'pop';
    font-weight: 200;
    font-size: 72px;
    top: -10;
    left: 80;
    animation: glow 3s ease-in-out infinite alternate;
}
.content2 p{ 
    position: absolute;
    display: flex;
    text-align:justify;
    bottom: 45;
    left: 50;
    right: 50;
    font-family: 'pop';
    font-weight: 105;
    font-size: 16px;
    color: aliceblue;
}
#contPic{
    display: grid;
    justify-content: center;
    gap: 15%;
    grid-auto-flow: column;
    padding-top: 100px;
}
#cPic1{
    object-fit: cover;
    object-position: center; 
    width: 14vw ;
    height: 46vh ;
    background-color: #FED128;
    box-shadow: 0 16px 16px 0 rgba(0, 0, 0, 0.2), 0 16px 20px 0 rgba(0, 0, 0, 0.25);
    border-radius: 15px 50px 30px;
}
#cPic2{
    object-fit: cover;
    object-position: center; 
    width: 14vw ;
    height: 46vh ;
    background-color: #FED128;
    box-shadow: 0 16px 16px 0 rgba(0, 0, 0, 0.2), 0 16px 20px 0 rgba(0, 0, 0, 0.25);
    border-radius: 15px 50px 30px;
}
#cPic3{
    object-fit: cover;
    object-position: center; 
    width: 14vw ;
    height: 46vh ;
    background-color: #FED128;
    box-shadow: 0 16px 16px 0 rgba(0, 0, 0, 0.2), 0 16px 20px 0 rgba(0, 0, 0, 0.25);
    border-radius: 15px 50px 30px;
}
.grid1{
    transition: 1s;
}
.grid1:hover{
    transform: scale(1.3);
}
.grid1 a{
    text-decoration: none;
    opacity: 0.7;
    transition: .5s;
}
.grid1 a:hover{
    opacity: 2;
}
.grid1 p{
    font-family: 'pop';
    font-weight: 105;
    font-size: 20px;
    position: inherit;
    text-align: center;
    color: #fed128;
    padding-top: 10px;
    padding-left: 45px;
    -webkit-animation: neon 3s ease-in infinite alternate;
    -moz-animation: neon 3s ease-in infinite alternate;
    animation: neon 3s ease-in infinite alternate;
}
@keyframes neon {
    from {
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60000, 0 0 40px #e60000,0 0 42px #e60000, 0 0 44px #e60000, 0 0 50px #e60000;
    }
    to {
      text-shadow: 0 0 12px #fff, 0 0 22px #fcff4d, 0 0 32px #fcff4d, 0 0 42px #fcff4d, 0 0 44px #fcff4d, 0 0 46px #fcff4d, 0 0 52px #fcff4d;
    }
}
@media only screen and (max-device-width: 1366px) {
    .parallax {
      background-attachment: scroll;
    }
}
.pic1{
    position: inherit;
    margin-top: 10%;
    margin-left: 140px;
    object-fit: cover;
    object-position: center; 
    width:55vh;
    height:55vh;
    border-radius: 50%;
    background-color: #fed128;
    box-shadow: 0 8px 8px 0 rgba(240, 11, 11, 0.2), 0 8px 8px 0 rgba(241, 219, 15, 0.185);
    margin-bottom: 25px;
    animation: rotation 10s infinite linear;
    transition: 1s;
}
@keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
  }
.grow{
    position: inherit;
    right: 220;
    top: 0;
    font-family: 'pop';
    font-weight: 200;
    font-size: 72px;
    color:rgb(101, 101, 175);
    animation: glow 3s ease-in-out infinite alternate;
}
@keyframes glow {
        0%,
        100% {
          text-shadow: 0 0 1vw #FA1C16, 0 0 3vw #FA1C16, 0 0 10vw #FA1C16, 0 0 10vw #FA1C16, 0 0 .4vw #FED128, .5vw .5vw .1vw #806914;
          color: #FED128;
    }
    50% {
         text-shadow: 0 0 .5vw #800E0B, 0 0 1.5vw #800E0B, 0 0 5vw #800E0B, 0 0 5vw #800E0B, 0 0 .2vw #800E0B, .5vw .5vw .1vw #40340A;
        color: #806914;
    }
}
.song{
    position: inherit;
    bottom: 60;
    right: 140;
    opacity: 0.5;
    transition: 1s;
}
.song:hover{
    opacity: 1;
}
/*.testf{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    min-height: 60px;
    bottom: 0;
    color: #fff;
    background-color: #000000;
    z-index: 3;
}*/
.contact{
    position: relative;
    text-align: start;
    background-color: rgb(0, 0, 0);
    width: 100%;
    height: auto;
    z-index: 0;
}
.drawC{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    width: 2px;
    height: 75% ;

    background-color: #ffffff;
}
.cont{
    position:relative;
    font-family: 'pop';
    font-weight: 100;
    color: white;
    padding-left: 10px;
    padding-bottom: 5px;
}
.contUs{
    font-family: 'pop';
    font-weight: 200;
    font-size: 1.5rem;
    color: rgb(75, 152, 253);
    padding-left: 20px;
}
.contLogo{
    position: absolute;
    font-family: 'pop';
    font-weight: 200;
    flex: 1;
    color: rgb(75, 152, 253);
    font-size: 40px;
    font-weight: 600px;
    cursor: default;
    user-select: none;
    top: 50%;
    left: 75%;
    transform: translate(-50%,-50%);
}
.logo-ft{
    position: absolute;
    top: 50%;
    left: 66%;
    transform: translate(-50%,-50%);
}

